@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --color-dark: #051114;
  --color-teal: #0F2C35;
  --color-orange: #FF9F1C;
  --color-light: #E0E6E6;

  --font-ubuntu: "Ubuntu", sans-serif;
  --font-sans: "Ubuntu", "ui-sans-serif", "system-ui", "sans-serif";
}

